<div class="banner">
  <div class="container">
    <h1 style="font-size: 80px; font-weight: bolder; letter-spacing: 10px;">FLOWER COCKTAILS</h1>
  </div>
</div>

<div class="m-4">
  <div id="cocktail" class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(255,198,89,0.2),rgba(255,198,89,0.2)), url(<%= cl_image_path cocktail.photo.key %>)">
        <%= link_to "#{cocktail.name.upcase}", cocktail_path(cocktail), class: "btn btn-dark border-circle" %>
      </div>
    <% end %>
  </div>
</div>

