<div class="cover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513614825922-8fdb7f6ee617?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2043&q=80)">
  CoksWOW
</div>

<div class="m-4">
  <div id="cocktail" class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= cl_image_path cocktail.photo.key %>)">
        <%= link_to "#{cocktail.name.upcase}", cocktail_path(cocktail), class: "btn btn-outline-light border-circle" %>
      </div>
    <% end %>
  </div>
</div>

