<div class="banner">
  <div class="container">
    <h1 style="font-size: 80px; font-weight: bolder; letter-spacing: 10px; color: #E8E2D3">FLOWER COCKTAILS</h1>
  </div>
</div>

<div class="m-4">
  <div id="cocktail" class="cards">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(255,198,89,0.2),rgba(255,198,89,0.2)), url(<%= cl_image_path cocktail.photo.key %>)">
          <%= link_to "#{cocktail.name.upcase}", cocktail_path(cocktail), class: "btn btn-dark border-circle" %>
        </div>
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(255,198,89,0.2),rgba(255,198,89,0.2)), url('https://images.unsplash.com/photo-1570598912132-0ba1dc952b7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80')">
          <%= link_to "#{cocktail.name.upcase}", cocktail_path(cocktail), class: "btn btn-dark border-circle" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

